h1 {
  color: blue;
}

.container {
  border: 1px solid blue;
  border-radius: 20px;
  margin-top: 25px;
  padding: 10px;
  width: 50%;
  background-color: lightyellow;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}
